/*.body{
    padding-top: 65px;
}*/

.users{
    padding-left: 65px;
}

.tableZone{
    padding-left: 65px;
    padding-right: 65px;
}
.messagesZone{
    padding-left: 150px;
    padding-right: 65px;
}

.orderAlert{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}






